<h1>New bp_term</h1>

<% form_for(@bp_term) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bpid %><br />
    <%= f.text_field :bpid %>
  </p>
  <p>
    <%= f.label :bp_ontology_id %><br />
    <%= f.text_field :bp_ontology_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bp_terms_path %>