<h1>Listing intervals</h1>

<table>
  <tr>
    <th>Ucumstring</th>
    <th>Maxvalue</th>
    <th>Minvalue</th>
    <th>Operator</th>
    <th>Characteristic quantification</th>
  </tr>

<% @intervals.each do |interval| %>
  <tr>
    <td><%=h interval.ucumString %></td>
    <td><%=h interval.maxValue %></td>
    <td><%=h interval.minValue %></td>
    <td><%=h interval.operator %></td>
    <td><%=h interval.characteristic_quantification_id %></td>
    <td><%= link_to 'Show', interval %></td>
    <td><%= link_to 'Edit', edit_interval_path(interval) %></td>
    <td><%= link_to 'Destroy', interval, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interval', new_interval_path %>