<h1>Editing numerical</h1>

<% form_for(@numerical) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ucumString %><br />
    <%= f.text_field :ucumString %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :operator %><br />
    <%= f.text_field :operator %>
  </p>
  <p>
    <%= f.label :characteristic_quantification_id %><br />
    <%= f.text_field :characteristic_quantification_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @numerical %> |
<%= link_to 'Back', numericals_path %>