<h1>Editing inference</h1>

<% form_for(@inference) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :annotatorConfidence %><br />
    <%= f.check_box :annotatorConfidence %>
  </p>
  <p>
    <%= f.label :component_id %><br />
    <%= f.text_field :component_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @inference %> |
<%= link_to 'Back', inferences_path %>