<p>
  <b>Codemeaning:</b>
  <%=h @non_quantifiable.codeMeaning %>
</p>

<p>
  <b>Codevalue:</b>
  <%=h @non_quantifiable.codeValue %>
</p>

<p>
  <b>Codingschemedesignator:</b>
  <%=h @non_quantifiable.codingSchemeDesignator %>
</p>

<p>
  <b>Codingschemeversion:</b>
  <%=h @non_quantifiable.codingSchemeVersion %>
</p>

<p>
  <b>Characteristic quantification:</b>
  <%=h @non_quantifiable.characteristic_quantification_id %>
</p>


<%= link_to 'Edit', edit_non_quantifiable_path(@non_quantifiable) %> |
<%= link_to 'Back', non_quantifiables_path %>